* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#CCFFFF;
    z-index: 10;
    position: fixed;
}

.logo {
    width: 170px;
    padding-left: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

nav {
    background: #CCFFFF;
    height: 80px;
    width: 100%;
}


nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 30px;
    text-transform: uppercase;
}

nav a:hover {
    background: white;
    transition: 0.3s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}


nav input {
    margin-top: 25px;
    width: 40px;
    height: 28px;
    float: right;
    display: none;
}

.container {
    width: 40%;
    padding: 20px 20px 60px 20px;
    background-color:transparent;
    margin-top: 0px;
}

.top-wrapper {
    padding: 140px 0 100px 0;
    background-image: url(assets/images/Background1.png);
    background-size: 1350px;
    background-position: center;
    color: black;
    text-align: left;

}
.top-wrapper h2 {
    color: black;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.top-wrapper h2 span {
    color: #fdd400;
    font-size: 55px;
    margin-bottom: 40px;
}

.top-wrapper p {
    margin-bottom: 30px;
    margin-left: 40px;
}
.donate-btn {
    color:black;
    background: #CCFFFF;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 40px;
    cursor: pointer;
    box-shadow: 0 7px #AFEEEE;
}

.donate-btn:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}


